* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

.dashboard {
  min-height: 100vh;
}

.topbar {
  background: #020617;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-btn {
  background: #1e293b;
  border: none;
  padding: 8px;
  border-radius: 50%;
  color: white;
}

.content {
  display: flex;
}

.sidebar {
  width: 220px;
  padding: 20px;
  background: #020617;
}

.sidebar button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

.main {
  flex: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
}

#transaction-history div {
  background: #020617;
  padding: 8px;
  margin-bottom: 8px;
  border-left: 4px solid;
}

#load-more {
  margin-top: 10px;
  padding: 8px;
  background: #38bdf8;
  border: none;
  border-radius: 5px;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-box {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.modal-box input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}

.modal-box button {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
}

.categories button.active {
  background: #38bdf8;
}

.hidden {
  display: none;
}