* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0b0b0b;
    color: #f5f5f5;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

/* SUMMARY */
.summary {
    display: flex;
    gap: 20px;
    margin: 30px 0;
}

.card {
    flex: 1;
    padding: 20px;
    background: #121212;
    border-radius: 12px;
}

.income { border-left: 6px solid #22c55e; }
.expense { border-left: 6px solid #ef4444; }
.balance { border-left: 6px solid #3b82f6; }

/* FORM & FILTER */
.form, .filter {
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

input, select {
    padding: 10px;
    background: #121212;
    border: 1px solid #2a2a2a;
    color: white;
    border-radius: 8px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

button {
    background: #3b82f6;
    border: none;
    padding: 10px 16px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

/* DASHBOARD */
.dashboard {
    display: flex;
    gap: 20px;
}

/* HISTORY */
.history, .chart-box {
    flex: 1;
    background: #121212;
    padding: 20px;
    border-radius: 12px;
}

#transactionList {
    list-style: none;
    padding: 0;
}

#transactionList li {
    background: #0b0b0b;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.income-item { border-left: 5px solid #22c55e; }
.expense-item { border-left: 5px solid #ef4444; }

.actions .delete {
    background: #ef4444;
    padding: 6px 12px;
    border-radius: 6px;
    color: white;
}

.empty {
    display: none;
    text-align: center;
    color: #9ca3af;
}

/* CHART */
.chart-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-wrapper {
    width: 450px;
    height: 320px;
}

.chart-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.chart-header button {
    background: #374151;
    font-size: 12px;
}

/* RESET */
.box {
    position: absolute;
    top: 60px;
    right: 70px;
    width: 70px;
    height: 30px;
    background: red;
    border-radius: 5px;
    text-align: center;
    border: 2px solid white;
    cursor: pointer;
}